.playlist-container {
    width: 100%;
    /* height: 728px; */
    background-color: #15182b;
    overflow: hidden;
    user-select: none;
    cursor: default;
  }
  
  .playlist-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-bottom: 2px solid white;
    background-color: #25262e;
  }
  
  .playlist-input {
    width: 60%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .playlist-content {
    width: 100%;
    height: 658px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .playlist-title {
    font-size: 2rem;
    color: #d2fbfc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    margin-right: 43%;
  }
  
  .playlist-item {
    width: 55%;
    height: 90px;
    border-radius: 10px;
    background-color: #25262e;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
   
  }
  
  .playlist-item:hover {
    transform: translateY(-5px);
    background-color: #353646;
  }
  
  .playlist-image {
    width: 15%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    background-color: white;
    overflow: hidden; /* Ensures that image doesn't overflow the container */
  }
  
  .playlist-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image covers the container while preserving aspect ratio */
  }
  
  .playlist-audio {
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  
  .audio-control {
    background-color: transparent;
    border: none;
    outline: none;
    width: 80%; /* Reduced from 100% */
    border-radius: 15px; /* Added border-radius */
  }
  
  .playlist-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 15%;
    height: 90px;
  }
  
  .playlist-image1,
  .playlist-image2 {
    width: 50px;
    height: 50px;
   
  }
  
  .playlist-image1 {
    margin-right: 10px;
  }
  
  .playlist-image2 {
    margin-left: 10px;
  }
  